__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea

coreml/tiny
coreml/base
coreml/small
coreml/medium
coreml/large
coreml/tiny.en
coreml/base.en
coreml/small.en
coreml/medium.en
coreml/large

encoderOnly/coreml/tiny
encoderOnly/coreml/base
encoderOnly/coreml/small
encoderOnly/coreml/medium
encoderOnly/coreml/large
encoderOnly/coreml/tiny.en
encoderOnly/coreml/base.en
encoderOnly/coreml/small.en
encoderOnly/coreml/medium.en
encoderOnly/coreml/large
