__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea

coreml/tiny
coreml/base
coreml/small
coreml/medium
coreml/large
coreml/tiny.en
coreml/base.en
coreml/small.en
coreml/medium.en
coreml/large
coreml/turbo
